<input id="toggle" type="checkbox" style="visibility:hidden">
<label for="toggle"><img class="icon-shoping-cart" src="../../assets/shoping cart icon/shopping-cart.svg" style="height: 50px;width: 30px;/"> </label>
<div class="box" > 
<div  class="contianer">
    <div  class="cart">
        <mat-list class="cart-ul">
            <mat-list-item class="cart-li" *ngFor="let userbasket of list ">

                <img src="{{userbasket.image }}" class="cart-img"><br>
                <h5>discription:{{userbasket.title }} </h5><br>
                <h3> price:{{userbasket.price|currency}} </h3><br>

                <button class="btn-delet" >Delet</button>

            </mat-list-item>

        </mat-list>
    </div>

