.container{
   height: 100%; 
}

.cart-items{
    background-color: rgba(237, 241, 241, 0.555);
    position: absolute;
    right: 5px;
    width: 400px;

    
    
}
.cart-item{
    width: 380px;
    height: 100px;
    list-style: none;
    display: flex;
}
h6{
    margin: 15px;
    width: 80px;
}
h4{
    margin: 15px;
}
.btn-delet{
    width: 50px;
    height: 50px;
    border: none;
    cursor: pointer;
    border-radius: 50px;
}
.btn-shopping-cart ,.icon-shoping{
    position: absolute;
    right: 8px;
    top: 25px;
    width: 100px;
    height:45px;
    border: none;
    background-color: transparent;
    cursor: pointer;

}
