.cart-items{
    background-color: aqua;
    position: absolute;
    right: 5px;
    width: 400px;
    height: 100%;

}
.btn-shopping-cart{
    position: absolute;
    right: 2px;
    width: 100px;
    height:45px;
    border: none;
    background-color: transparent;
    cursor: pointer;

}