<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
</head>
<body>
<footer class="site-footer">
<div class="container">

<div class="QuickLinks">
<h6>Explore</h6>
<ul class="footer-links">
<li><a href="#">Free Designs</a></li>
<li><a href="#">Latest Designs</a></li>
<li><a href="#">Popular Designs</a></li>
<li><a href="#">Art Skills</a></li>
<li><a href="#">New Uploads</a></li>
</ul>
</div>
<div class="LegalLinks">
    <h6>Legal</h6>
    <ul class="footer-links">
    <li><a href="#">Customer Agreement</a></li>
    <li><a href="#">Privacy Policy</a></li>
    <li><a href="#">GDPR</a></li>
    <li><a href="#">Security</a></li>
    <li><a href="#">Testimonials</a></li>
    </ul>
</div>
<div class="Newsletters">
        <div class="Newsletter">
        <h6>Newsletter</h6>
        <p>Subscribe to our newsletter for a weekly dose of news, updates, helpful tips, and exclusive offers.</p>
        </div>
</div>
<form action="#">
    <input type="text" placeholder="your email" required>
    <button type="submit">SUBSCRIBE</button>
</form>

</div>
<ul class="social-icons">
<li><a class="facebook" href="#"><i class="fab fa-facebook-f"></i></a></li>
<li><a class="twitter" href="#"><i class="fab fa-twitter"></i></a></li>
<li><a class="dribbble" href="#"><i class="fab fa-dribbble"></i></a></li>
<li><a class="linkedin" href="#"><i class="fab fa-linkedin-in"></i></a></li>
</ul>
<div class="container">
    <div class="copyrightS">
    <div class="copyright">
    <p class="copyright-text">Copyright © 2024 All Rights Reserved by
    <a href="#"><span class="logo">NEGAR</span></a>
    </p>
    </div>
</div>
</div>
</footer>
</body>
</html>