
*{
margin:0;
padding:0;
box-sizing: border-box;
}
body{
font-family: "Kalam", cursive;
display: block;
align-items: center;
justify-content: center;
}
.site-footer {
background-color: #283634;
padding: 45px 0 20px;
font-size: 15px;
line-height: 25px;
color: #161616;
box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
position: relative;
 min-height:300px;
margin-bottom: 0;

}
.site-footer li{
    list-style: none;
   
}

.site-footer h6 {
color: #fff;
font-size: 16px;
text-transform: uppercase;
margin-top: 5px;
letter-spacing: 2px;
}
.site-footer a {
color: #737373;
text-decoration: none;


}
.site-footer a:hover {
color: #fff;
text-decoration: none;
}

.site-footer .social-icons {
    text-align: center;
    align-items: center;
    }
.site-footer .social-icons a {
width: 40px;
height: 40px;
line-height: 40px;
margin-left: 6px;
margin-right: 0;
border-radius: 100%;
background-color: #33353d;
}

.copyright-text {
margin: 0;
text-align: center;
}
@media (max-width: 991px) {
.site-footer [class^="col-"] {
margin-bottom: 30px;
}
}
@media (max-width: 767px) {
.site-footer {
padding-bottom: 0;
}
.site-footer .copyright-text,
.site-footer .social-icons {
text-align: center;
}
}
.social-icons {
padding-left: 0;
margin-bottom: 0;
list-style: none;
}

.social-icons li {
display: inline-block;
margin-bottom: 4px;

}
.social-icons a {
background-color: #eceeef;
color: #818a91;
font-size:10px;
display: inline-block;
line-height: 30px;
width: 10px;
height: 10px;
text-align: center;
margin-top: 200px;
margin-right: 8px;
border-radius: 100%;
-webkit-transition: all 0.2s linear;
-o-transition: all 0.2s linear;
transition: all 0.2s linear;
}
.logo{
color:#eb6857;
}
.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
color: #fff;
background-color: #29aafe;
}
.social-icons a.facebook:hover {
background-color: #3b5998;
}
.social-icons a.twitter:hover {
background-color: #00aced;
}
.social-icons a.linkedin:hover {
background-color: #007bb6;
}
.social-icons a.dribbble:hover {
background-color: #ea4c89;
}
.Newsletters{
    display: flex;
    width: 250px;
    position: absolute;
    top: 15px;
    right: 5px;

} 
form {
    display: flex;
    width: 250px;
       position: absolute;
       top: 175px;
       right: 5px;
}
form input {
    outline: none;
    padding: 15px;
    width: 150px;
    border-radius: 5px;
    border: none;
}
form button{
  background-color: rgba(2, 112, 76, 0.493);
  color: #f5f5f5;
  font-weight: 300;
  border-radius: 5px;
  border: none;
  padding: 5px;
  
}


.QuickLinks {
    position: absolute;
    left: 50px;
    top: 5px;
    list-style: none;
    margin-top: 15px;
}
.LegalLinks {
    position: absolute;
    left:250px;
    top: 5px;
    list-style: none;
    margin-top: 15px;
}