body{
    margin: 0;
    padding: 0;
    display: flex;
    
    
}
.continer{
    max-width:900px;
    height: 900px;
    position: relative;
    top:50px;
    text-align: center;
    align-items: center;
    
    
   
}
      
.welcom-page{
    position: absolute;
    left: 200px;
    width: 800px;
    height:700px;
    
}

.img-welcom{
    position:absolute ;
    width: 400px;
    height:400px;
    right: 45px;
    top: 65px;
   
}
.welcom-txt{
    position: absolute;
    color: rgb(7, 22, 22);
    font-size: 45px;
    width:200px;
    height:295px;
    top: 75px;
    left:45px;
    box-shadow: rgba(12, 139, 97, 0.548) 2px 2px 0px 3px;
    border-radius: 10px 0px 70px 0px;
    padding: 20px;
   

}
.btn-welcom{
    position: absolute;
    top: 269px;
    left:20px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5%;
    padding: 15px;
    background-color: transparent;
    border: none;
    box-shadow:  rgba(12, 139, 97, 0.548) 2px 2px 0px 3px;



}
btn-welcom:hover{
    box-shadow:  rgb(87, 218, 174) 2px 2px 0px 3px; 
}
