.wrap {
    width: 100%;
    overflow:auto;
    margin: 0;
    padding: 0;
    position: relative
}
    
    
    .fleft {
        float:left; 
        width: 50%;
        height:900PX;
     
    }
    .login-img{
        display: flex;
        position: fixed;
        left: 400px;
        top:250px;
    }
      
    .fright {
    float: right;
     width: 50%;
    }
    
   .mat-card{
    position: absolute;
        top: 150px;
        
   }

      .mat-form-field {
        width: 100%;
      
      }
      
      
      mat-card-content {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        width: 400px;
        height: 450px;
        border-radius: 5px;
        
        background-color: rgba(4, 187, 65, 0.89);
      }

      .error {
        padding: 16px;
        width: 300px;
        color: white;
        background-color: red;
      }

      .button {
        display: flex;
        justify-content: flex-end;
      }
    