<div class="nav">
    <app-header></app-header>
</div>
<div  class="contianer">
    <div  class="products">
        <ul class="product-ul">
           
            <li class="product-li" *ngFor="let post of posts" (click)="getid(post.id)">
                <h4>discription:</h4>{{post.title }} <br>
                <img src="{{post.image }}" class="product-img"><br>
                
                <h3> price:{{post.price|currency}} </h3><br>

                <button class="btn-add ">ADD</button>
        
            </li>
          
        </ul>
        
        
</div>
