.about{
    display: flex;
    font-family: "Kalam", cursive;
    font-weight: 400;
    font-size: 40px;
    color: rgb(4, 102, 69);
    justify-content: center;
    align-items: center;
}
.about li{
    font-size: 20px; 
    margin: 25px;
    list-style-type: circle;
    
}


.product-ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    
    
}
.product-li{
    border: 1px solid  rgba(240, 237, 237, 0.582);
    width: 300px;height: 410px;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 1px;
    gap: 5px;
    list-style: none;
    border-radius: 1%;
}
.product-li:hover{
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
}
.product-img{
    width: 100px;height:100px;
    padding: 45px;
}
h5{
    width: 300px;
    height: 35px;
    font-family: 'Times New Roman', Times, serif;
    justify-content: center;
    text-align: center;
    align-items: center;

}
h3{
    font-family: "Kalam", cursive;
}
.btn-add{
  outline: 0;
  cursor: pointer;
  background-color:transparent;
  color: aliceblue;
  font-family: "Kalam", cursive;
  border:none;
}



.btn-add:hover:after {
  top: 0px;
  left: 0px;
  background-color: rgba(4, 102, 69)
}

@media (min-width: 768px) {
  .btn-add {
    padding: 13px 50px 13px;
  }
}

