<div class="nav">
    <app-header></app-header>
    
    <div class="about">
        <img src="../../assets/shopping-fun.png"  style="height:450px;width: 450px;">
        
    <ul>Imagine that......
        <li>Easily in your wallet</li>
        <li>save your money</li>
        <li>Increase the value of your money</li>
        <li>Affordable</li>
    </ul>
    <app-shoping-cart [list]="userbasket"></app-shoping-cart>
    </div>    
</div>
<div  class="contianer">
    <div  class="products">
        <ul class="product-ul">
            <li class="product-li" *ngFor="let product of products" (click)="getId(product)">               
                <img src="{{product.image }}" class="product-img"><br>
                <h5>discription:{{product.title }} </h5><br>
                <h3> price:{{product.price|currency}} </h3><br>
                <button class="btn-add" ><img class="icon-shoping" src="../../assets/shoping cart icon/shopping-cart.svg" style="height: 30px;width: 30px;/"></button>        
            </li>          
        </ul>
</div>
<app-footer></app-footer>